

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.h1 {
  margin: 0px 0px 0.35em;
  font-weight: 300;
  font-size: 5rem;
  line-height: 1.167;
  letter-spacing: -0.01562em;
}
.h2 {
  margin: 0px 0px 0.35em;
  font-size: 3.75rem;
  line-height: 1.2;
  letter-spacing: -0.00833em;
  font-weight: 300;
}
.h3 {
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.167;
  letter-spacing: 0em;
}
.h4 {
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 1.235;
  letter-spacing: 0.00735em;
}
.h5 {
  margin: 0px 0px 0.35em;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.334;
  letter-spacing: 0em;
}
.h6 {
  margin: 0px 0px 0.35em;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.p {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.0075em;
}